<div class="container-fluid">
  <div id="cont-container" class="row-fluid">
      <div class="span2 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav affix">
          <li class="active"><a href="#global"><i class="icon-chevron-right"></i> Global styles</a></li>
          <li class=""><a href="#gridSystem"><i class="icon-chevron-right"></i> Grid system</a></li>
          <li class=""><a href="#fluidGridSystem"><i class="icon-chevron-right"></i> Fluid grid system</a></li>
          <li class=""><a href="#layouts"><i class="icon-chevron-right"></i> Layouts</a></li>
          <li><a href="#responsive"><i class="icon-chevron-right"></i> Responsive design</a></li>
        </ul>
      </div>
    <div id="cont-detail" class="span7">
      <ul class="pager">
      <li class="previous">
        <a href="/prev/<%=cont._id%>?board=<%=cont.board%>">&larr; 上一条</a>
      </li>
      <li class="next">
        <a href="/next/<%=cont._id%>?board=<%=cont.board%>">下一条 &rarr;</a>
      </li>
    </ul>
      <h4><%=cont.title%></h4>
      <p><%=cont.author.id%></p>
      <div class="cont">
        <pre><%-cont.content%></pre>
      </div>  
    </div>
  </div>
</div>