<div class="container-fluid">
  <div id="cont-container" class="row-fluid">
    <div id="cont-detail" class="span6">
      <ul class="pager">
      <li class="previous">
        <a href="/prev/<%=cont._id%>?board=<%=cont.board%>">&larr; 上一条</a>
      </li>
      <li><a href="#">发表新帖</a></li>
      <li><a href="#">回复本贴</a></li>
      <li><a href="#">转帖</a></li>
      <li><a href="#">编辑</a></li>
      <li><a href="#">删除</a></li>
      <li class="next">
        <a href="/next/<%=cont._id%>?board=<%=cont.board%>">下一条 &rarr;</a>
      </li>
    </ul>
      <legend><%=cont.title%><a href="#" style="float:right;"><%=cont.author.id%></a></legend>
      <p style="float:right;font-size:14px;margin-top:-10px;"><%=cont.time%></p>
      <div class="cont">
        <pre><%-cont.body%></pre>
      </div>  
    </div>
    <div id="cont-cms" class="span6">
        
      </div>
    </div>
  </div>
</div>