<% for(i in dataArr){%>
  <div class="element  ACTIVE" id="cid_<%=dataArr[i]._id%>">
        <h5 class='title'><%=dataArr[i].title%></h5>
        <div style="padding:10px">
            <a style="color:#009a61;text-decoration:none" href="/bbsqry?userid=<%=%>" target="_blank"><%=dataArr[i].author.id%></a>
            <p><%=dataArr[i].time%></p>      
            <pre><%-dataArr[i].content%></pre>
            <br>
        </div>
        <div class="hover">
            <a href="/bbscont/<%=dataArr[i]._id%>" target="_blank"></a>
        </div>
</div>

<%}%>